

@media (max-width:768px) {
    .dn-768{
        display: none;
    }
    .ml-768{
        margin-left: auto;
    }
    .ml-md-60{
        margin-left: 60px;
    }
    .ml-md-30{
        margin-left: 30px;
    }
}
@media (max-width:768px) {
    .dn-600{
        display: none;
    }
}